# API
API_PORT=3000
API_JWT_SECRET=supersecret123
API_DEFAULT_ADMIN_EMAIL=admin@example.com
API_DEFAULT_ADMIN_PASSWORD=123456
MONGO_URI=mongodb://mongo:27017/weather

# FRONTEND
VITE_API_URL=http://api:3000

# RABBITMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME=weather_queue

# COLLECTOR
WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
WEATHER_LAT=-12.97
WEATHER_LON=-38.51
WEATHER_PARAMS=temperature_2m,relative_humidity_2m,wind_speed_10m
COLLECTOR_INTERVAL=60
