# Python collector
WEATHER_API=open-meteo
CITY_LAT=-12.97
CITY_LON=-38.50

RABBITMQ_HOST=rabbitmq
RABBITMQ_QUEUE=weather_logs

# Worker Go
WORKER_QUEUE=weather_logs
WORKER_RMQ_HOST=rabbitmq
API_URL=http://api:3000/weather/logs
